*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body > div{
    background-color: gray;
}

.DZ-16{
    background-color: #222854;
}

.homework{
    background-color: #08c;
    font-size: 40px;
    text-align: center;
}

.display{
    display: none;
}

.sjdhgkwe{
    background-color: #08c;
}

.box{
    margin: 100px;
    padding: 10px;
}

.container{
    margin: 0 auto;
    padding: 20px;
}

.array{
    padding: 20px 40px 40px;
    background-color: wheat;
    display: flex;
}

.array__item{
    width: 25%;
    background-color: white;
    padding: 0 20px;
    margin: 0 10px;
    position: relative;
}

.array__img{
    display: block;
    margin: 5px auto;
    width: 70px;
    height: auto;
}

.array__title{
    text-align: center;
    padding-bottom: 10px;
}

.array__text{
    padding: 10px 0 30px;
}

.array__btn{
    width: 73%;
    margin: 0 auto;
    position: absolute;
    left: 13%; 
    bottom: -30px; 
    right: auto;
    overflow: auto;
}

.array__btn a{
    height: 50px;
    border-radius: 4px;
    background-color: green;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.array__btn--active a{
    background-color: red;
}

body > div > .box{
    width: 500px;
    height: 500px;
    background-color: #08c;
}

.todo__item{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.add__event{
    background-color: silver;
    padding: 30px 300px;
    display: flex;
}

.addNewEvent{
    width: 450px;
    height: 50px;
    padding: 10px;
}

.addNewEventBtn{
    width: 150px;
    background-color: green;
    margin-left: 20px;
    border: none;
}


.list__todo{
    padding: 10px;
}
.event__list{
    
}

.event{
    margin: 0 auto;
}

.event--text{
    margin-right: 50px;
}

.checkboxdone{
    margin: -0.625em 10px 0;
    right: -3px;
    position: absolute;
    top: 50%;
}

.event__item{
    margin: auto auto 10px 10px;
    display: flex;
    border: 1px solid black;
    padding: 5px;
    background-color: brown;
    position: relative;
}

.list__done{
    padding: 10px;
}

.recycle-img{
    width: 20px;
    height: 20px;
    margin: -0.625em 10px auto;
    position: absolute;
    right: 10px;
    top: 50%;
}